# Dependencies
node_modules/

# Production build
dist/
dist-ssr/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & local files
.env
.env.local
.DS_Store
*.local

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.iml
android/app/*.iml
android/.idea/
android/captures/
